{%- set toolchain_prefix = metadata.extra.toolchain_prefix -%}
{%- set toolchain_prefix_alt = metadata.extra.toolchain_prefix_alt -%}
{%- set is_glibc = "-glibc-" in pkgname -%}
{%- set is_llvm = "-llvm-" in pkgname -%}
{%- set is_elf = "-elf-" in pkgname -%}
{%- set is_musl = "-musl-" in pkgname -%}
{%- set rvlen = "32" if pkgname.startswith("riscv32") else "64" -%}
{%- set desc_llvm = " and clang" if is_llvm else "" -%}
{%- set desc_type =
  "ELF" if is_elf else
  "MUSL" if is_musl else
  "Linux"
-%}
{%- set desc_musl = "MUSL " if is_musl else "" -%}
# Maintainer: Gilbert Gilb's <gilbsgilbert@gmail.com>
pkgname={{ pkgname }}
pkgver={{ metadata.package_data.pkgver }}
pkgrel={{ metadata.package_data.pkgrel }}
pkgdesc="GNU toolchain for riscv{{ rvlen }} {{ desc_type }}, including GCC{{ desc_llvm }}."
arch=('x86_64')
url="https://github.com/riscv-collab/riscv-gnu-toolchain"
license=('GPL2')
provides=(
  {%- if is_llvm %}
  '{{ pkgname | replace("-llvm-", "-") }}'
  {%- endif %}
)
conflicts=(
  {%- if is_llvm %}
  '{{ pkgname | replace("-llvm-", "-") }}'
  {%- elif is_glibc or is_elf %}
  '{{ pkgname | regex_replace("-(\w+)-bin$", "-\\1-llvm-bin") }}'
  {%- endif %}
)
optdepends=()
makedepends=()
options=(!strip)
source=(
  "{{ metadata.release_info.assets.toolchain }}"
)
sha512sums=(
  "{{ sha512sum(metadata.release_info.assets.toolchain) }}"
)

package() {
  install -dm755 "${pkgdir}"/opt/{{ pkgname }} "${pkgdir}"/usr/bin "${pkgdir}"/usr/lib/gcc
  cp -pR "${srcdir}"/riscv/* "${pkgdir}"/opt/{{ pkgname }}

  # Install sysroot
  if test -d "${pkgdir}"/opt/{{ pkgname }}/sysroot; then
    sysroot=/opt/{{ pkgname }}/sysroot
  else
    sysroot=/opt/{{ pkgname }}/{{ toolchain_prefix }}
  fi
  ln -s "${sysroot}" "${pkgdir}"/usr/{{ toolchain_prefix }}

  # Install cross libgcc
  ln -s /opt/{{ pkgname }}/lib/gcc/{{ toolchain_prefix }} "${pkgdir}"/usr/lib/gcc

  # Install binaries
  for f in "${srcdir}"/riscv/bin/{{ toolchain_prefix }}-*; do
    f="$(basename "${f}")"
    ln -s /opt/{{ pkgname }}/bin/"${f}" "${pkgdir}"/usr/bin
  done

  {% if toolchain_prefix_alt -%}
  # Also provide target quadruplet to prevent confusing clang
  ln -s {{ toolchain_prefix }} "${pkgdir}"/usr/{{ toolchain_prefix_alt }}
  ln -s {{ toolchain_prefix }} "${pkgdir}"/usr/lib/gcc/{{ toolchain_prefix_alt }}
  find \
    "${pkgdir}" \
    -name {{ toolchain_prefix }} \
    -type d \
    -exec /bin/sh -c 'ln -s {{ toolchain_prefix }} "$(dirname "$0")"/{{ toolchain_prefix_alt }}' {} \;
  {%- endif %}

  # Strip
  find \
    "${pkgdir}"/opt/{{ pkgname }}/bin \
    "${pkgdir}"/opt/{{ pkgname }}/lib \
    "${pkgdir}"/opt/{{ pkgname }}/libexec \
    -type f \
    -exec /bin/sh -c 'if file --no-sandbox "$0" | grep -qE "ELF.*(executable|shared object)"; then strip "$0"; fi' {} \;
}
