# Maintainer: Gilbert Gilb's <gilbsgilbert@gmail.com>
pkgname={{ pkgname }}
pkgver={{ metadata.package_data.pkgver }}
pkgrel={{ metadata.package_data.pkgrel }}
pkgdesc="Meta-package for a pre-compiled GNU toolchain for riscv32 and riscv64, linux and ELF."
arch=('any')
url="https://github.com/riscv-collab/riscv-gnu-toolchain"
license=('GPL2')
depends=(
  'riscv32-gnu-toolchain-elf-bin'
  'riscv32-gnu-toolchain-glibc-bin'
  'riscv64-gnu-toolchain-elf-bin'
  'riscv64-gnu-toolchain-glibc-bin'
)
